<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="refresh" content="{{delay}};url={{ nextDestination }}">
  <meta charset="utf-8">
  <title>App</title>
</head>

<body>
  <p><b>{{ currentLink }}</b></p>
  <p>redirecting to </p>
  <p>
    <b>{{nextDestination}}</b>
  </p>
</body>

</html>